*                           @JCarlosHidalgo

/apps/Auth/                 @JCarlosHidalgo
/apps/Attendance/           @JCarlosHidalgo
/apps/CourseManagement/     @JCarlosHidalgo
/apps/Payment/              @JCarlosHidalgo
/apps/Credentials/          @JCarlosHidalgo

/apps/Frontend/             @JCarlosHidalgo

/infrastructure/            @JCarlosHidalgo
/.github/                   @JCarlosHidalgo

/packages/                  @JCarlosHidalgo
